html, body{
    background-color: grey;
   
}

*{box-sizing: border-box }

img{

max-width:100%

}


.slideshow{

border: 5px solid whitesmoke;
box-shadow: 0 0 5px hsla(0,0%,0%,.5);
overflow: hidden;
max-width: 800px;
margin: 2rem auto;
position: relative

}
    
.slideshow ul{

padding-bottom: 66.67%;/* ratio pour le responsive */
margin: 0;
list-style-type: none;
position: relative
	
	}
    
    
.slideshow li{

top: 0;
left: 0;
animation: slideshow 25s ease infinite;
position: absolute;
opacity: 0;


}

    

.slideshow li:nth-child(2){

animation-delay: 5s

}

.slideshow li:nth-child(3){

animation-delay: 10s

}

.slideshow li:nth-child(4){

animation-delay: 15s

}

.slideshow li:nth-child(5){

animation-delay: 20s

}


    
@keyframes slideshow{
	
0%{opacity: 0}

10%{opacity: 1}

20%{opacity: 1}

25%{opacity: 0}

100%{opacity: 0}
	
	} 

    
.slideshow span{

background: rgba(0,0,0,0.7);
height: 40px;
align-items: center;
justify-content: center;
display: flex;
color: white;
position: absolute;
bottom: 0;
right: 0;
left: 0

}
    




aside{

    background-color: pink;
    height: 450px;
    h2{
        text-align: center;
        padding-top: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        margin: 50px;
        margin-left: 150px;
        margin-right: 150px;
        font-family: 'Chilanka', cursive;
        font-size: 20px;
    }

}